.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.back {
    height: 50px;
    width: 133px;
    background-image: url("./back.png");
    background-size: cover;
    transition: transform 0.3s;
}

.back:hover {
    background-image: url("./back2.png");
    transform: scale(0.85);
}

.bloc-principal {
    display: flex;
    height: 700px;
    margin-top: 50px;
    padding: 10px;
}

.bloc-principal .photo {
    border-radius: 5px;
    border: 2px solid rgb(230, 230, 230);
}

.bloc-principal .profil {
    border-radius: 5px;
    border: 2px solid rgb(230, 230, 230);
}

.profil {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: white;
}

.profil > div {
    border-radius: 5px; /* Bords arrondis pour les blocs */
    border: 2px solid rgb(230, 230, 230); /* Bordure des blocs */
    box-sizing: border-box;
}

.history {
    display: flex;
    height: 80%;
    width: 100%;
    margin-left: 50px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(230, 230, 230);
}


.photo {
    display: flex;
    height: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
}

.photo p {
    margin: 0;
}

.photoCadre {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid rgb(230, 230, 230);
}

.icone {
    display: flex;
    height: 10%;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    background-color: white;
}

.icone i {
    margin-right: 20px;
    margin-left: 20px;
}

.encounters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: raw;
    height: 20%;
    background-color: white;
    color: rgb(44, 67, 92);
}

.details {
    display: flex;
    height: 45%;
    flex-direction: column;
    background-color: white;
    color: rgb(44, 67, 92);
    padding: 30px;
}

.SD {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.infoSD {
    margin-top: 30px;
}

.titleSD {
    margin-top: 10px;
    margin-bottom: 0px;
}

.subtitleSD {
    color: black;
    margin: 0;
    margin-top: 5px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
}

.numberBIG {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.clothes {
    display: flex;
    height: 1000px;
    margin-top: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(230, 230, 230);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.midBox {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.midBox div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.midBox1 {
    height: 25%;
}
.midBox2 {
    height: 25%;
}
.midBox3 {
    height: 25%;
}
.midBox4 {
    height: 25%;
}

.photoBox {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 70%;
    height: 99%;
}

.titleClothes {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}