.historyDetails {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  margin-left: 50px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgb(230, 230, 230);
  gap: 5px; /* Espace entre les blocs */
  max-height: 600px; /* Limite la hauteur de la div */
  overflow-y: auto; /* Ajoute le défilement vertical si plus de contenu */
}

.blocDetails {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.blocDetails:hover {
  background-color: #e6e6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blocDetails p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}
