.mainContainer {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 30px;
}

.container {
  display: grid;
  justify-content: center;
  grid: repeat(2, 310px) / auto-flow 950px;
}

.bloc1 {
    background-color: #8ca0ff;
    width: 500px;
    height: 300px;
}
.bloc2 {
    background-color: red;
    width: 500px;
    height: 300px;
}
.bloc3 {
    background-color: purple;
    width: 500px;
    height: 300px;
}
.bloc4 {
    background-color: teal;
    width: 500px;
    height: 300px;
}
